body {
  font-family: helvetica, arial, sans-serif;
  padding: 6rem;
}
main {
  max-width: 40rem;
  margin: 0 auto;
}
.dropzone {
  border: 4px solid blueviolet;
  color: blueviolet;
  margin: 2rem 0;
}
small {
  display: block;
  text-align: center;
}
h1 {
  font-size: 1em;
}